.a{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 100px;
    position: relative;
}
.b{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 100px;
    position: relative;
}
.c{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 100px;
    position: relative;
}