body {background-color: #F1D7B6;
}

#ani {
    color: #F0E4B2;
}


#mall {
    color:#9D8678;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #936639;
}
.nav-links {
    display: flex;
}
.nav-item {
    padding: 0px 10px;
    list-style: none;
}